.form-select {
  border-radius: var(--radius-sm);
  max-width:fit-content;
  text-overflow: ellipsis;
}

:host {
  display: block;
  min-width: 0;
}
.form-select:focus {
  border-color: var(--focus-color);
  box-shadow: var(--focus-ring);
}
.form-select.is-invalid {
  border-color: var(--color-error-alt);
}
