<div class="mb-3">
  <label class="form-label" *ngIf="label" [for]="id">{{ label }}</label>
  <input
    #innerInput
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    class="form-control"
    [class.form-control-sm]="size === 'sm'"
    [class.form-control-lg]="size === 'lg'"
    [class.is-invalid]="hasError">
  <div class="invalid-feedback" *ngIf="hasError && errorMessage">{{ errorMessage }}</div>
</div>
