<div class="d-flex min-vh-100">
  <organismo-sidebar
    *ngIf="isLoggedIn"
    [class.sidebar-expanded]="sidebarOpen"
    [brandName]="brandName"
    [isAgendador]="isAgendador"
    [isPaciente]="isPaciente"
    [isAdmin]="isAdmin"
    [isMedico]="isMedico"
    [isLoggedIn]="isLoggedIn"
    [sidebarOpen]="sidebarOpen"
    (menuClose)="onMenuClose.emit()"
    (logout)="onLogout.emit()">
  </organismo-sidebar>

  <div class="d-flex flex-column flex-grow-1 min-vh-100 min-width-0">
    <organismo-header
      [isLoggedIn]="isLoggedIn"
      [userLabel]="userLabel"
      [userInitials]="userInitials"
      (toggleMenu)="onToggleMenu.emit()"
      (logout)="onLogout.emit()"
      (login)="onLogin.emit()"
      (register)="onRegister.emit()">
    </organismo-header>

    <main class="flex-grow-1">
      <ng-content></ng-content>
    </main>

    <organismo-footer></organismo-footer>
  </div>

  <div class="template-overlay" *ngIf="sidebarOpen && isLoggedIn" (click)="onMenuClose.emit()"></div>
</div>
